@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 100% 95%;
    --foreground: 221 5% 10%;
    --card: 221 50% 90%;
    --card-foreground: 221 5% 15%;
    --popover: 221 100% 95%;
    --popover-foreground: 221 100% 10%;
    --primary: 221 97% 38.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183 30% 85%;
    --muted-foreground: 221 5% 35%;
    --accent: 183 30% 80%;
    --accent-foreground: 221 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 50%;
    --input: 221 30% 18%;
    --ring: 221 97% 38.6%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 221 50% 10%;
    --foreground: 221 5% 90%;
    --card: 221 50% 10%;
    --card-foreground: 221 5% 90%;
    --popover: 221 50% 5%;
    --popover-foreground: 221 5% 90%;
    --primary: 221 97% 38.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 30% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183 30% 17%;
    --muted-foreground: 221 5% 60%;
    --accent: 183 30% 17%;
    --accent-foreground: 221 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221 5% 90%;
    --border: 221 30% 18%;
    --input: 221 30% 18%;
    --ring: 221 97% 38.6%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
