@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 100% 95%;
    --foreground: 206 5% 0%;
    --card: 206 50% 90%;
    --card-foreground: 206 5% 10%;
    --popover: 206 100% 95%;
    --popover-foreground: 206 100% 0%;
    --primary: 206 82.5% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 168 30% 85%;
    --muted-foreground: 206 5% 35%;
    --accent: 168 30% 80%;
    --accent-foreground: 206 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 30% 50%;
    --input: 206 30% 18%;
    --ring: 206 82.5% 38%;
    --radius: 1rem;
    --chart-1: 220 90% 50%;
    --chart-2: 120 90% 40%;
    --chart-3: 30 90% 50%;
    --chart-4: 280 90% 50%;
    --chart-5: 180 90% 40%;

    /* Gradient colors */
    --gradient-1: hsl(221, 97%, 38.6%);
    --gradient-2: hsl(221, 80%, 50%);
    --gradient-3: hsl(221, 70%, 60%);
    --gradient-4: hsl(221, 60%, 70%);
    --gradient-5: hsl(221, 50%, 80%);
  }
  .dark {
    --background: 206 50% 5%;
    --foreground: 206 5% 90%;
    --card: 206 50% 0%;
    --card-foreground: 206 5% 90%;
    --popover: 206 50% 5%;
    --popover-foreground: 206 5% 90%;
    --primary: 206 82.5% 38%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 168 30% 15%;
    --muted-foreground: 206 5% 60%;
    --accent: 168 30% 15%;
    --accent-foreground: 206 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 206 5% 90%;
    --border: 206 30% 18%;
    --input: 206 30% 18%;
    --ring: 206 82.5% 38%;
    --radius: 1rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Gradient colors for dark mode */
    --gradient-1: hsl(221, 97%, 38.6%);
    --gradient-2: hsl(221, 80%, 30%);
    --gradient-3: hsl(221, 70%, 25%);
    --gradient-4: hsl(221, 60%, 20%);
    --gradient-5: hsl(221, 50%, 15%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
